#note
{
	background-image: url("../Images/notepad.jpg");
	height: 500px;
	width: 500px;
	position: relative;
	margin: auto;
	border-radius: 10%;
}
h1
{
	color: black;
	text-align: center;
	font-family: fantasy;
	font-weight: bold;
}
body 
{
	background-color: #B8B8B8;
}
#item 
{
	position:relative; 
	left: 155px;
	margin: 15px;
	padding: 5px;
	border: #CC6699 2px;
	bottom: 20px;
	width: 150px;
}
#add 
{
	display: block;
	position: relative;
	margin: auto;
	background-color: #CC6699;
	border: #B8B8B8 solid 3px;
	padding: 10px;
	bottom: 20px;
	font-family: cursive;
	font-size: 20px;
}
ul 
{
	list-style-type: none;
}
li 
{
	font-size: 25px;
	font-family:fantasy;
	font-weight: bold;
	text-align: center;
}
#firstItem
{
	display: block;
}
.checkmark
{
	float left;
	height: 25px;
	width: 25px;
}
* {
  outline: red 1px solid;
}